<table class="table table-bordered table-sm">
    <thead class="text-center table-active h5">
    <tr>
        <th scope="col">#</th>
        <th scope="col" style="width: 45%">Вид роботи</th>
        <th scope="col" style="width: 16%">Значення показника</th>
        <th scope="col">Примітка</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th class="table-active">1.1</th>
        <th scope="row" colspan="3" class="table-active">Виконання навчального навантаження</th>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.one_one.id_for_label }}">{{ form.one_one.label }}</label></td>
        <td>{{ form.one_one }}{{ form.one_one.errors }}</td>
        <td rowspan="3">{{ form.one_one.help_text }}</td>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.one_two.id_for_label }}">{{ form.one_two.label }}</label></td>
        <td>{{ form.one_two }}{{ form.one_two.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.one_three.id_for_label }}">{{ form.one_three.label }}</label></td>
        <td>{{ form.one_three }}{{ form.one_three.errors }}</td>
    </tr>

    <tr>
        <th class="table-active">1.2</th>
        <th scope="row" colspan="3" class="table-active">
            Розробка та затвердження нової освітньої (освітньо-професійної або освітньо-наукової) програми</th>
    </tr>
    <tr>
        <td></td>
        <td>Розробка та затвердження:</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.two_one.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.two_one.label }}</span>
            </label>
        </td>
        <td>{{ form.two_one }}{{ form.two_one.errors }}</td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.two_two.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.two_two.label }}</span>
            </label>
        </td>
        <td>{{ form.two_two }}{{ form.two_two.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td>Оновлення:</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.two_three.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.two_three.label }}</span>
            </label>
        </td>
        <td>{{ form.two_three }}{{ form.two_three.errors }}</td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.two_four.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.two_four.label }}</span>
            </label>
        </td>
        <td>{{ form.two_four }}{{ form.two_four.errors }}</td>
    </tr>

    <tr>
        <th class="table-active">1.3</th>
        <th scope="row" colspan="3" class="table-active">Розробка та оновлення навчальних планів</th>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.three_one.id_for_label }}">{{ form.three_one.label }}</label></td>
        <td>{{ form.three_one }}{{ form.three_one.errors }}</td>
        <td rowspan="2">Оновлення навчальних планів – 20% від визначеного значення показника.
        </td>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.three_two.id_for_label }}">{{ form.three_two.label }}</label></td>
        <td>{{ form.three_two }}{{ form.three_two.errors }}</td>
        <td></td>
    </tr>

    <tr>
        <th class="table-active">1.4</th>
        <th scope="row" colspan="3" class="table-active">Виконання обов’язків гаранта ОП</th>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.four_one.id_for_label }}">{{ form.four_one.label }}</label></td>
        <td>{{ form.four_one }}{{ form.four_one.errors }}</td>
        <td></td>
    </tr>

    <tr>
        <th class="table-active">1.5</th>
        <th class="table-active" colspan="3">Підготовка справи та успішне проходження експертизи</th>
    </tr>
    <tr>
        <td></td>
        <td>Ліцензійної:</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.five_one.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.five_one.label }}</span>
            </label>
        </td>
        <td>{{ form.five_one }}{{ form.five_one.errors }}</td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.five_two.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.five_two.label }}</span>
            </label>
        </td>
        <td>{{ form.five_two }}{{ form.five_two.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td>Акредитаційної:</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.five_three.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.five_three.label }}</span>
            </label>
        </td>
        <td>{{ form.five_three }}{{ form.five_three.errors }}</td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.five_four.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.five_four.label }}</span>
            </label>
        </td>
        <td>{{ form.five_four }}{{ form.five_four.errors }}</td>
    </tr>

    <tr>
        <th class="table-active">1.6</th>
        <th scope="row" colspan="3" class="table-active">
            Публікації видань методичних матеріалів
        </th>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">Курсу лекцій:</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.six_one.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.six_one.label }}</span>
            </label>
        </td>
        <td>{{ form.six_one }}{{ form.six_one.errors }}</td>
        <td rowspan="5">Формат: V(K), де V - кількість друкованих аркушів, K - відсоток загального результату,
            який визначено кафедрою. У разі виконання декількох робіт слід вказати кожне значення через крапку з комою.
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.six_two.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.six_two.label }}</span>
            </label>
        </td>
        <td>{{ form.six_two }}{{ form.six_two.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">Навчально-методичних рекомендацій:</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.six_three.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.six_three.label }}</span>
            </label>
        </td>
        <td>{{ form.six_three }}{{ form.six_three.errors }}</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.six_four.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.six_four.label }}</span>
            </label>
        </td>
        <td>{{ form.six_four }}{{ form.six_four.errors }}</td>
    </tr>
    
    <tr>
        <th class="table-active">1.7</th>
        <th scope="row" colspan="3" class="table-active">
            Публікації видань за рекомендацією вченої ради ДНУ
        </th>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">Підручника в Україні:</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.seven_one.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.seven_one.label }}</span>
            </label>
        </td>
        <td>{{ form.seven_one }}{{ form.seven_one.errors }}</td>
        <td rowspan="11">Формат: V(K), де V - кількість друкованих аркушів, K - відсоток загального результату,
            який визначено кафедрою. У разі виконання декількох робіт слід вказати кожне значення через крапку з комою.
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.seven_two.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.seven_two.label }}</span>
            </label>
        </td>
        <td>{{ form.seven_two }}{{ form.seven_two.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">Підручника за кордоном офіційною мовою ЄС:</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.seven_three.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.seven_three.label }}</span>
            </label>
        </td>
        <td>{{ form.seven_three }}{{ form.seven_three.errors }}</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.seven_four.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.seven_four.label }}</span>
            </label>
        </td>
        <td>{{ form.seven_four }}{{ form.seven_four.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">Навчального посібника в Україні:</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.seven_five.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.seven_five.label }}</span>
            </label>
        </td>
        <td>{{ form.seven_five }}{{ form.seven_five.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.seven_six.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.seven_six.label }}</span>
            </label>
        </td>
        <td>{{ form.seven_six }}{{ form.seven_six.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td colspan="3">Навчального посібника за кордоном офіційною мовою ЄС:</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.seven_seven.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.seven_seven.label }}</span>
            </label>
        </td>
        <td>{{ form.seven_seven }}{{ form.seven_seven.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.seven_eight.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.seven_eight.label }}</span>
            </label>
        </td>
        <td>{{ form.seven_eight }}{{ form.seven_eight.errors }}</td>
    </tr>

    <tr>
        <th class="table-active">1.8</th>
        <th scope="row" colspan="3" class="table-active">
            Підготовка нової (оновлення) лекційної презентації
        </th>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.eight_one.id_for_label }}">{{ form.eight_one.label }}</label></td>
        <td>{{ form.eight_one }}{{ form.eight_one.errors }}</td>
        <td rowspan="2">Кількість годин лекцій</td>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.eight_two.id_for_label }}">{{ form.eight_two.label }}</label></td>
        <td>{{ form.eight_two }}{{ form.eight_two.errors }}</td>
    </tr>

    <tr>
        <th class="table-active">1.9</th>
        <th class="table-active" colspan="3">
            Запровадження у навчальний процес нових лабораторних /практичних  робіт, 
            що потребують використання спеціалізованого лабораторного/програмного забезпечення  
        </th>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.nine_one.id_for_label }}">{{ form.nine_one.label }}</label></td>
        <td>{{ form.nine_one }}{{ form.nine_one.errors }}</td>
        <td></td>
    </tr>

    <tr>
        <th class="table-active">1.10</th>
        <th scope="row" colspan="3" class="table-active">Розробка програм і завдань до вступних випробувань</th>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.ten_one.id_for_label }}">{{ form.ten_one.label }}</label></td>
        <td>{{ form.ten_one }}{{ form.ten_one.errors }}</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.ten_two.id_for_label }}">{{ form.ten_one.label }}</label></td>
        <td>{{ form.ten_two }}{{ form.ten_two.errors }}</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.ten_three.id_for_label }}">{{ form.ten_three.label }}</label></td>
        <td>{{ form.ten_three }}{{ form.ten_three.errors }}</td>
        <td></td>
    </tr>

    <tr>
        <th class="table-active">1.11</th>
        <th scope="row" colspan="3" class="table-active">
            Рецензування навчально-методичних матеріалів: підручників, навчально-методичних посібників, посібників
        </th>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.eleven_one.id_for_label }}">{{ form.eleven_one.label }}</label></td>
        <td>{{ form.eleven_one }}{{ form.eleven_one.errors }}</td>
        <td>За наявності рецензій</td>
    </tr>

    <tr>
        <th class="table-active">1.12</th>
        <th scope="row" colspan="3" class="table-active">
            Експертиза конкурсних студентських робіт, починаючи з другого туру;  конкурсних робіт МАН
        </th>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.twelve_one.id_for_label }}">{{ form.twelve_one.label }}</label></td>
        <td>{{ form.twelve_one }}{{ form.twelve_one.errors }}</td>
        <td>За одну роботу за наявності підстав (завдання), рецензій</td>
    </tr>

    <tr>
        <th class="table-active">1.13</th>
        <th scope="row" colspan="3" class="table-active">
            Виконання робіт за міжнародними договорами, зокрема програми двох дипломів, контрактами,
            проєктами ТEMPUS, ERASMUS+
        </th>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.thirteen_one.id_for_label }}">{{ form.thirteen_one.label }}</label></td>
        <td>{{ form.thirteen_one }}{{ form.thirteen_one.errors }}</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.thirteen_two.id_for_label }}">{{ form.thirteen_two.label }}</label></td>
        <td>{{ form.thirteen_two }}{{ form.thirteen_two.errors }}</td>
        <td></td>
    </tr>

    <tr>
        <th class="table-active">1.14</th>
        <th scope="row" colspan="3" class="table-active">
            Персональна участь (підготовка та участь студента чи групи студентів) у концертних програмах, 
            персональних художніх виставках, творчих конкурсах, спортивних змаганнях
        </th>
    </tr>
    <tr>
        <td></td>
        <td>Міжнародного рівня:</td>
        <td></td>
        <td rowspan="9">Для кафедр творчого спрямування за захід</td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.fourteen_one.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.fourteen_one.label }}</span>
            </label>
        </td>
        <td>{{ form.fourteen_one }}{{ form.fourteen_one.errors }}</td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.fourteen_two.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.fourteen_two.label }}</span>
            </label>
        </td>
        <td>{{ form.fourteen_two }}{{ form.fourteen_two.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td>Всеукраїнського рівня:</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.fourteen_three.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.fourteen_three.label }}</span>
            </label>
        </td>
        <td>{{ form.fourteen_three }}{{ form.fourteen_three.errors }}</td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.fourteen_four.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.fourteen_four.label }}</span>
            </label>
        </td>
        <td>{{ form.fourteen_four }}{{ form.fourteen_four.errors }}</td>
    </tr>
    <tr>
        <td></td>
        <td>Регіонального рівня:</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.fourteen_five.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.fourteen_five.label }}</span>
            </label>
        </td>
        <td>{{ form.fourteen_five }}{{ form.fourteen_five.errors }}</td>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <label for="{{ form.fourteen_six.id_for_label }}">
                <span style="margin-left: 40px;">&#10095; {{ form.fourteen_six.label }}</span>
            </label>
        </td>
        <td>{{ form.fourteen_six }}{{ form.fourteen_six.errors }}</td>
    </tr>

    <tr>
        <th class="table-active">1.15</th>
        <th class="table-active" colspan="3">Отримання звання</th>
    </tr>
    <tr>
        <td></td>
        <td><label for="{{ form.fifteen_one.id_for_label }}"></label></td>
        <td>{{ form.fifteen_one }}{{ form.fifteen_one.errors }}</td>
        <td></td>
    </tr>

    </tbody>
</table>
