<table class="table table-sm table-bordered">
    <thead class="text-center table-active h5">
    <tr>
        <th scope="col">#</th>
        <th scope="col" style="width: 50%">Назва</th>
        <th scope="col">Значення</th>
    </tr>
    </thead>
    <tbody>
    {% if not is_editable %}
        <tr>
            <td></td>
            <td>Факультет</td>
            <td>{{ user.profile.department.faculty }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Кафедра</td>
            <td>{{ user.profile.department }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Науково-педагогічний працівник</td>
            <td>{{ user.last_name }} {{ user.first_name }}</td>
        </tr>
        <tr>
            <td></td>
            <td>Займана посада</td>
            <td>{{ user.profile.position }}</td>
        </tr>
    {% endif %}
    {% for field in form %}
        <tr>
            <td></td>
            <td><label for="{{ field.id_for_label }}">{{ field.label }}</label></td>
            <td>
                {{ field }}
                {{ field.errors }}
            </td>
        </tr>
    {% endfor %}
    {% if not is_editable %}
        <tr>
            <td></td>
            <td><b>Рейтинговий бал працівника</b></td>
            <td><b>{{ generic_report.result }}</b></td>
        </tr>
    {% endif %}
    </tbody>
</table>