<div class="modal fade" id="feedback" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Відгук</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{% url 'feedbacks' %}" method="POST" id="form-feedback">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="col-form-label">Ім'я:
                        <br/><small class="text-muted">Необов'язково для заповнення</small></label>
                        <input type="text" class="form-control" id="id_name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="feedback" class="col-form-label">*Повідомлення:
                        <br/><small class="text-muted">Обов'язково для заповнення</small></label>
                        <textarea class="form-control" id="id_feedback" name="feedback"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-primary" id="feedback-submit">Відправити</button>
                </div>
            </form>
        </div>
    </div>
</div>