{% extends "base.html" %}
{% load i18n static %}

{% block title %}{{ report_name }}{% endblock %}

{% block h1 %}{{ report_name }}{% endblock %}
{% block additional_header %}<h2 class="text-center"><b>{{ report_period }}</b> навчальний рік</h2>{% endblock %}
{% block content %}
    {% if generic_report or is_generic_report_data %}
        {% block report_form %}
        {% endblock %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            Дані відсутні в системі або обраний період неактивний, будь ласка, перейдіть за посиланням:
            <a href="{% url 'generic_report_data_view' %}" class="btn btn-danger">Введення загальних даних</a>
        </div>
    {% endif %}
{% endblock %}