{% extends 'base.html' %}
{% load i18n static %}

{% block title %}Домашня сторінка{% endblock %}


{% block h1 %}Шановні колеги!{% endblock %}
{% block content %}

<ul class="list-group list-group-flush">
    <li class="list-group-item">У рейтинговому оцінюванні професійної діяльності мають брати участь штатні працівники Дніпровського національного
        університету імені Олеся Гончара, які обіймають штатні посади науково-педагогічних працівників або працюють на
        відповідних посадах на умовах штатного сумісництва.</li>
    <li class="list-group-item">Для входу в інформаційну систему «Рейтинг викладача» необхідно пройти реєстрацію з використанням Вашого
        облікового запису у Microsoft Office 365. Для цього на головній сторінці системи у верхньому правому куті
        необхідно натиснути на кнопку <span class="font-weight-bold">«Увійти в систему за допомогою Office 365»</span>,
        ввести адресу Вашої особистої електронної пошти у сегменті факультету та пароль від Вашого облікового запису.
    </li>
    <li class="list-group-item">Після входу у систему у правому верхньому куті на головній сторінці системи з'явиться Ваше прізвище та ім'я, а
        також надається можливість <span class="font-weight-bold">Вийти</span> з системи.</li>
    <li class="list-group-item">Далі необхідно перейти до пункту меню <span class="font-weight-bold">Введення даних</span> та заповнити <span
            class="font-weight-bold">Загальні дані</span> та рейтингові показники за видами
        діяльності: <span class="font-weight-bold">Навчально-методична робота, Науково-інноваційна робота, Організаційно-виховна робота.</span>
        Після введення даних обов'язково необхідно натискати кнопку <span class="font-weight-bold">Зберегти</span>,
        яка розташована у кінці екранної форми для введення даних кожного з розділів.</li>
    <li class="list-group-item">Рейтинг працівника розраховується за основним місцем роботи або за сумісництвом, якщо людина працює на посаді
        науково-педагогічного працівника лише за сумісництвом.</li>
    <li class="list-group-item">Для усіх видів діяльності наводяться абсолютні показники за критеріями рейтингового оцінювання незалежно від долі
        ставки, на якій працює науково-педагогічний працівник.</li>
    <li class="list-group-item">Показники навчально-методичної та організаційно-виховної роботи розраховуються до 15 червня поточного навчального
        року, показник науково-інноваційної роботи розраховується до 15 грудня календарного року.</li>
    <li class="list-group-item">Значення балу за наслідками анонімного анкетування студентів є числом у диапазоні від 0 до 200 та розраховується
        як сума балів, отриманих науково-педагогічним працівником за результатами двох анкетувань у першому та другому
        семестрі (максимальне значення у семестрі - 100 балів). </li>
</ul>
{% endblock %}