{% extends 'base.html' %}
{% load i18n static %}

{% block title %}Положення{% endblock %}


{% block h1 %}Положення{% endblock %}
{% block content %}

    <p class="text-center font-weight-bold lead">
        Про рейтингове оцінювання професійної діяльності науково-педагогічних працівників,
        кафедр та факультетів Дніпровського національного університету імені Олеся Гончара
    </p>

    <ul class="list-group">
        <li class="list-group-item">
            1. Загальні положення
        </li>
        <li class="list-group-item">
            1.1. Це Положення є нормативним документом Дніпровського національного університету імені Олеся Гончара
            (далі – ДНУ) й визначає мету, основні завдання, принципи та механізм реалізації рейтингового оцінювання
            освітньої, наукової, організаційної та інноваційної діяльності науково-педагогічних працівників (НПП),
            кафедр та факультетів ДНУ.
        </li>
        <li class="list-group-item">
            1.2. Рейтингове оцінювання професійної діяльності НПП є складовою внутрішньої системи забезпечення якості
            вищої освіти та освітньої діяльності у ДНУ.
        </li>
        <li class="list-group-item">
            1.3. Рейтингове оцінювання професійної діяльності НПП, кафедр та факультетів ДНУ, як форма визначення рівня
            їх професійної компетентності та ефективності роботи, проводиться за наслідками кожного навчального року.
        </li>
        <li class="list-group-item">
            1.4. Рейтинговому оцінюванню підлягає професійна діяльність усіх штатних НПП
            та штатних сумісників, які працюють в ДНУ, всіх кафедр та факультетів ДНУ. Якщо НПП працював не повний
            навчальний рік, його бали за кожним видом діяльності діляться на відношення відпрацьованих місяців
            до тривалості навчального року у 10 місяців.
        </li>
    </ul>

{% endblock %}